@import "../../scss/variables.scss";

.sideBar {
  position: absolute;
  left: -100%;
  width: 100vw;
  z-index: 100;
  background: white;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px 14px 34px 38px;
  transition: .3s;

  &.open {
    left: 0;
  }

  &.mobile {
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    padding: $mobileSideBarVerticalPadding $mobileSideBarHorizontalPadding;
  }

  &.desktop {
    /**/
  }
}