@import "../../scss/variables.scss";

.expandedGoodCard {
  width: 100%;
  border-radius: 10px;
  margin: 10px 7px;
  border: 1px solid $fontColorLight;
  box-sizing: border-box;
  position: relative;
  padding: 70px 50px 25px 20px;
  max-width: 990px;
  
  &.desktop {
    /**/
  }

  &.desktop {
    /**/
  }

  &.mobile {
    max-width: 340px;
    padding: 15px 18px 20px 0;

    .expandedGoodCardMainInfo {
      align-items: flex-end;

      .productImage {
        .img {
          width: 110px;
        }
      }

      .expandedGoodCardTextWrapper {
        padding-left: 0;

        .title {
          font-size: 16px;
          padding-top: 12px;
        }

        .discountUntil {
          font-size: 16px;
          line-height: 1.4;
        }

        .pricePerKilo {
          font-size: 14px;
        }

        .expandedGoodCardPrices {
          .current {
            font-size: 19px;
            padding-right: 5px;
          }

          .old {
            font-size: 14px;
          }
        }
      }
    }

    .expandedGoodCardSecondaryInfo {
      padding-left: 20px;

      .retailer {
        .retailerImage {
          width: 42px;
          padding: 0;
          border-radius: 5px;
          border-width: 1px;

          .img {
            max-width: 35px;
          }
        }

        .retailerText {
          padding: 5px 7px 5px 12px;
          font-size: 14px;
        }
      }

      .discount {
        padding-top: 10px;

        .discountText {
          padding: 5px 7px 5px 12px;
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }

  .expandedGoodCardMainInfo {
    display: flex;

    .productImage {
      height: 100%;
      display: flex;
      align-items: center;
      
      .img {
        width: 300px;
      }
    }

    .expandedGoodCardTextWrapper {
      padding-left: 36px;
      display: flex;
      flex-grow: 2;
      flex-direction: column;

      .title {
          font-size: 30px;
          font-weight: 500;
          margin: 0;
          color: $fontColorDark;
          text-decoration: none;
          display: flex;
          align-items: center;
          flex-grow: 2;
  
          &:hover {
              text-decoration: underline;
              color: $tertiaryColorMain;
          }
      }
  
      .expandedGoodCardPrices {
          display: flex;
          align-items: center;
  
          .current {
              font-size: 50px;
              font-weight: 700;
              padding-right: 16px;
              color: $fontColorDark;
          }
  
          .old {
              color: $fontColorMain;
              font-size: 40px;
              font-weight: 400;
              text-decoration:line-through;
          }
      }
  
      .pricePerKilo, .discountUntil {
          margin: 0;
          color: $fontColorMain;
          font-weight: 400;
          font-size: 30px;
      }
      
      .pricePerKilo {
        /**/
      }
  
      .discountUntil {
          text-transform: lowercase;
          text-align: right;
          line-height: 0;
      }
    }
  }

  .expandedGoodCardSecondaryInfo {
    padding-left: 30px;
    font-size: 20px;

    .retailer {
      display: flex;
      align-items: center;
      padding-top: 17px;

      .retailerImage {
        width: 110px;
        border: 2px solid $primaryColorMain;
        border-radius: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0px;

        .img {
          max-width: 70px;
        }
      }

      .retailerText {
        padding: 12px 20px;
        color: $tertiaryColorMain;
        line-height: 1;
      }
    }

    .discount {
      padding-top: 20px;
      display: flex;
      align-items: center;

      .discountText {
        padding: 0 20px;
        color: $fontColorDark;
        max-width: 230px;
        line-height: 1.4;
      }
    }
  }

  .expandedGoodCardLogo {
    position: absolute;
    right: 50px;
    bottom: 25px;
  }
}