@import "../../scss/variables.scss";

.language {
    position: relative;

    // mobile version
    &.mobile {
        .languageCurrent {
            display: inline-flex;
            padding: 0.4rem 0.7rem;
            align-items: center;
            border-radius: 15px;
            height: 27px;
            box-sizing: border-box;

            .languageCurrentLang {
                font-size: 14px;
            }

            .svg {
                padding: 0;
                
                &Img {
                    width: 8px;
                }
            }
        }
    }

    .languageCurrent {
        cursor: pointer;
        color: $fontColorDark;
        background-color: $secondaryColorLight;
        border-radius: 50px;
        padding: 0 10px 0 16px;
        height: 42px;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        .languageCurrentLang {
            padding-right: 5px;
        }


        .svg {
            padding-top: 2px;
            display: flex;
            align-items: center;
            transition: .3s;
            padding: 0 6px;
        }

        .rotate {
            transform: rotate(180deg);
        }
    }
}
