@import "../../scss/variables.scss";

.footer {
  background: $primaryColorLight;
  padding: 48px 67px 24px;
  
  .footerContent {
    margin: 0 auto;
    max-width: 1380px;

    .footerLinks {
      /**/
    }

    .footerInfo {
      padding-top: 24px;
    }
  }
}