@import "../../scss/variables.scss";

.logo {
    display: flex;
    align-items: center;
    color: $fontColorDark;
    padding-left: 15px;
    text-decoration: none;

    .title {
        margin: 0;
        text-align: center;
        color: $fontColorDark;
        font-size: 1.8rem;
        line-height: 140%;
        font-weight: 500;
    }
}
