@import "../../scss/variables.scss";

/* navbar css */
.navBar {
    padding: 0 65px 0 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.03);

    // navbar content
    .navBarContent {
        width: 100%;
        max-width: 1500px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    //navbar controls
    .navBarControls {
        display: flex;
        align-items: center;
        flex-grow: 2;
    }

    .navBarSearchBar {
        width: 100%;
    }

    .navBarLogo {
        /**/
    }
    
    .navBarLangDropdown {
        /**/
    }
}
