@import "../../scss/variables.scss";
@import "../../scss/modes.scss";
@import "../../scss/customInput.scss";

.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
  opacity: 0;
  transition: .3s;

  &.active, &.active .popupContent {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }

  .popupContent {
    transform-origin: bottom;
    transition: .3s;
    transform: scale(0);
    max-width: 768px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 32px 0 38px;
    box-sizing: border-box;

    .title {
      padding: 0 25px;
      font-size: 32px;
      font-weight: 600;
      line-height: 100%; /* 32px */
      margin: 0;
      padding-bottom: 30px;
    }

    .popupCloseCross {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .popupOptions {
      display: flex;
      flex-direction: column;
      max-height: 400px;
      overflow-y: auto;

      .popupOption {
        text-decoration: none;
        padding: 16px 39px 16px 24px;
        transition: .3s;
        color: $fontColorDark;
        font-size: 24px;
        font-weight: 500;
        line-height: 100%; /* 24px */
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;

        .popupOptionCheckbox {
          /**/
        }

        &:hover, &.active {
          background: $secondaryColorLight;
        }

        .mark {
          width: 24px;
          height: 24px;
        }

        &.active {
          background: $secondaryColorLight;
        }
      }
    }
  }
}