@import "../../scss/variables.scss";
@import "../../scss/modes.scss";

.bubble {
  &.mobile {
    padding: 5px 11px;
    font-size: 16px;
    border-radius: 20px;
  }

  &.desktop {
    padding: 12px 16px;
    border-radius: 50px;
  }

  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%; /* 20px */
  cursor: pointer;
  display: inline-block;
  
  .bubbleArrow {
    vertical-align: middle;
    width: 9px;
    height: 5px;
    margin-left: 6px;
    transition: .3s;
    transform-origin: center center;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}