@import "../../scss/variables.scss";

.serviceBlock {
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 80px;
  
  &.mobile {
    padding: 30px 0 50px;
    
    .serviceBlockTitle {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 31px;
    }

    .serviceBlockContent {
      gap: 8px;

      .serviceBlockParagraph {
        padding: 30px 19px 28px 25px;
      }
    }
  }
  
  .serviceBlockTitle {
    margin: 0;
    color: $fontColorDark;
    text-transform: capitalize;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%; /* 32px */
    padding-bottom: 48px;
  }

  .serviceBlockContent {
    display: flex;
    flex-direction: column;
    gap: 27px;

    .serviceBlockParagraph {
      margin: 0;
      padding: 35px 44px 31px;
      border-radius: 10px;
      background: $secondaryColorLight;
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%; /* 16px */
    }
  }
}