@import "../../scss/variables.scss";
body {
  padding: 0 !important;
}

.fixedBlock {
  width:100vw;
  position: fixed;
  left: 0;
  right:0;
  top:0;
  z-index: 1;
  background: white;
  padding: $mobileSideBarVerticalPadding $mobileSideBarHorizontalPadding;
  box-sizing: border-box;
  transition: .3s;
  left: -100%;

  &.open {
    left:0;
  }
}

.sideBarHeader {
  position: relative;

  &.mobile {
    .title {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      order:2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .title {
    text-transform: capitalize;
    color: $fontColorDark;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    margin: 0;
  }

  .searchBar {
    width: calc(100% - 40px);
    position: absolute;
    right: 0;
    top: 0;
  }

  &.mobile .title, .searchBar {
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
    
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}