@import "../../scss/variables.scss";

.goodsSlider {
    width: $retailersSliderWidth;
    margin: 0 -5px;
}


@media screen and (max-width: 1200px) {
    .goodsSlider {
        width: 736px;
    }
}

@media screen and (max-width: 950px) {
    .goodsSlider {
        width: 552px;
    }
}

@media screen and (max-width: 768px) {
    .goodsSlider {
        width: 368px;
    }
}