@import "../../scss/variables.scss";

.footerInfo {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 100%; /* 21px */

  .copyright {
    color: $primaryColorMain;
  }

  .mail {
    text-decoration: none;
    color: $fontColorMain;
  }
}