@import "../../scss/variables.scss";

.burger {
  display: flex;
  flex-direction: column;
  gap:3px;
  cursor: pointer;

  .burgerItem {
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background: $fontColorDark;
  }
}