@import "../../scss/variables.scss";

/* navbar css */
.navBar {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px grey;

    // navbar content
    .navBarContent {
        width: 100%;
        max-width: 768px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBarBurger {
        /**/
    }

    .navBarSearchBar {
        width: 100%;
    }

    .navBarLogo {
        /**/
    }
    
    .navBarLangDropdown {
        /**/
    }
}