@import "../../scss/variables.scss";

/* navbar css */
.navBar {
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px grey;

    // navbar content
    .navBarContent {
        width: 100%;
        max-width: 768px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBarLeftItem {
        /**/
    }

    .navBarSearchBar {
        width: 100%;
    }

    .navBarCenterItem {
        h1 {
            margin: 0;
            color: $fontColorDark;
            font-size: 24px;
            font-weight: 500;
            line-height: 100%; /* 24px */
        }
    }
    
    .navBarRightItem {
        height: 100%;
        display: flex;
        align-items: center;
    }
}