@import "../../scss/variables.scss";

.logo {
    display: flex;
    align-items: center;
    color: $fontColorDark;
    text-decoration: none;

    .img {
        margin-right: 0.7rem;
    }

    .title {
        margin: 0;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
    }
    
    .subTitle {
        margin: 0;
        text-shadow: 21px 10.5px 21px 0px rgba(255, 255, 255, 0.40);
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
    }
}
