@import "../../scss/variables.scss";

.goodCard {
    position: relative;
    min-height: 340px;
    width: 170px;
    border-radius: 10px;
    margin: 7px;
    border: 1px solid $fontColorLight;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s;

    &:hover {
        box-shadow: 0px 0px 7px 0px rgba(90, 194, 233, 0.80);;
    }

    &.mobile {
        width: 115px;
        min-height: 230px;

        .goodCardImage {
            height: 100px;
            padding: 2px;
        }

        .goodCardTextWrapper {
            padding: 6px;

            .title {
                font-size: 14px;
                flex-grow: 2;
            }
            
            .goodCardPrices {
                .old {
                    font-size: 14px;
                }

                .current {
                    font-size: 16px;
                    padding-right: 4px;
                }
            }

            .discountUntil {
                font-size: 12px;
            }
        }
    }

    .goodCardAdd {
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        background: $secondaryColorMain;
        width: 35px;
        height: 35px;
        border-bottom-left-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;

        &.added {
            background: $tertiaryColorMain;
        }
    }

    .goodCardImage {
        position: relative;
        text-align: center;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        box-sizing: border-box;

        .retailerImg {
            max-width: 100%;
            max-height: 100%;
            box-sizing: border-box;
        }
    }

    .goodCardTextWrapper {
        padding: 3px 10px 10px 10px;
        display: flex;
        flex-grow: 2;
        flex-direction: column;

        .title {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            color: $fontColorDark;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
                color: $tertiaryColorMain;
            }
        }
    
        .goodCardPrices {
            display: flex;
            align-items: center;
    
            .current {
                font-size: 20px;
                font-weight: 700;
                padding-right: 10px;
                color: $fontColorDark;
            }
    
            .old {
                color: $fontColorMain;
                font-size: 16px;
                font-weight: 400;
                text-decoration:line-through;
            }
        }
    
        .pricePerKilo, .discountUntil {
            margin: 0;
            color: $fontColorMain;
            font-weight: 400;
        }
        
        .pricePerKilo {
            padding: 2px 0;
            font-size: 14px;
            flex-grow: 2;
        }
    
        .discountUntil {
            font-size: 16px;
            text-align: center;
        }
    }

    // disabled
    &.disabled {
        pointer-events: none;

        .goodCardTextWrapper .current, .goodCardPrices .old, .title, .pricePerKilo, .discountUntil {
            color:$fontColorLight;
        }

        .goodCardAdd {
            background: $fontColorLight;
        }
    }
}

.goodCardPrices {
    /**/
}

.goodCardInfo {
    /**/
}