@import "../../scss/variables.scss";

.goodCard {
    position: relative;
    min-height: 350px;
    width: 170px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid $fontColorLight;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s;

    &:hover {
        box-shadow: 0px 0px 7px 0px rgba(90, 194, 233, 0.80);;
    }
    

    &.disabled {
        pointer-events: none;
    }

    .goodCardAdd {
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        background: $secondaryColorMain;
        width: 35px;
        height: 35px;
        border-bottom-left-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;

        &.added {
            background: $tertiaryColorMain;
        }
    }

    .goodCardImage {
        position: relative;
        height: 50%;
        text-align: center;

        img {
            max-width: 170px;
            max-height: 100%;
            padding: 15px;
            box-sizing: border-box;
        }
    }

    .info {
        margin: 0 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 7px;
        border: 1px solid $primaryColorMain;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-width: 45px;

        .infoDiscount {
            font-size: 14px;
            font-weight: 700;
            background: $primaryColorMain;
            color:white;
            padding: 0 5px;
        }

        .infoMarket {
            width: 32px;
            margin: 0 auto;
            padding: 2px 0;
        }
    }

    .goodCardTextWrapper {
        padding: 10px;
        flex-grow: 2;
        display: flex;
        flex-direction: column;
    }

    .goodCardTitle {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        flex-grow: 3;
        color: $fontColorDark;

        &:hover {
            text-decoration: underline;
            color: $tertiaryColorMain;
        }
    }

    .prices {
        display: flex;
        align-items: center;

        .pricesCurrent {
            font-size: 20px;
            font-weight: 700;
            padding-right: 10px;
        }

        .pricesOld {
            color: $fontColorMain;
            font-size: 16px;
            font-weight: 400;
            text-decoration:line-through;
        }
    }

    .goodCardPricePerKilo, .goodCardDiscountUntil {
        margin: 0;
        margin-top: 5px;
        color: $fontColorMain;
        font-size: 14px;
        font-weight: 400;
    }

    // disabled
    &.disabled {
        pointer-events: none;

        .pricesCurrent, .pricesOld, .goodCardTitle, .goodCardPricePerKilo, .goodCardDiscountUntil {
            color:$fontColorMain;
        }

        .goodCardAdd {
            background: $fontColorMain;
        }

        .info {
            border-color:$fontColorMain;

            .infoDiscount {
                background: $fontColorMain;
            }
        }
    }
}

.goodCardPrices {
    /**/
}

.goodCardInfo {
    /**/
}