@import "../../scss/variables.scss";

.sideBarBoxItem {
  &.desktop {
    /**/
  }

  &.mobile {
    border-bottom: 1px solid $secondaryColorLight;

    .mobileSideBarArrow {
      .svg {
        height: 7px;
        width: 13px;
      }
    }

    .sideBarBoxItemBtn {
      .logoSvg {
        width: 19px;
        height: 19px;
      }

      .title {
        padding: 8px 16px 8px 9px;
        font-size: 16px;

        .arrowSvg {
          width: 10px;
          height: 8px;
        }
      }
    }

    .sideBarBoxItemDropdown {
      .sideBarBoxItemDropdownItem {
        padding: 3px 14px 3px 50px;

        .link {
          font-size: 12px;
        }
      }
    }
  }

  .sideBarBoxItemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;

    .logoSvg {
      width: 27px;
      height: 27px;
    }

    &.active > .title, .title:hover{
      color: $tertiaryColorMain;
      text-decoration: underline;
    }

    .title {
      flex-grow: 2;
      text-decoration: none;
      cursor: pointer;
      padding: 10px 20px 10px 12px;
      color: $fontColorDark;
      text-transform: capitalize;
      font-size: 23px;
      font-weight: 500;
      line-height: 140%; /* 32.2px */
      transition: color .3s;
      position: relative;
      margin: 0;

      .arrowSvg {
        margin-left: 3px;
        width: 14px;
        height: 11px;
      }
    }
  }

  .sideBarBoxItemDropdown {
    overflow: hidden;
    transition: grid-template-rows .5s ease;
    position: relative;
    grid-template-rows: 0fr;
    display: grid;

    &.expanded {
      grid-template-rows: 1fr;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 15px;
      background: linear-gradient(to top, white, transparent);
    }

    .sideBarBoxItemDropdownContainer {
      min-height: 0;
    }

    .sideBarBoxItemDropdownItem {
      padding:10px 20px 10px 65px;

      &:last-child {
        padding-bottom: 10px;
      }

      .link {
        text-transform: capitalize;
        color: $fontColorDark;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}