
.blue {
  background: $tertiaryColorMain;
  &.applyTextMode {color: $fontColorDark;}
}

.black {
  background: $fontColorDark;
  &.applyTextMode {color:$fontColorLight;}
}

.green {
  background: $primaryColorMain;
  &.applyTextMode {color: white;}
}

.lightgreen {
  background: $primaryColorLight;
  &.applyTextMode {color: $fontColorDark; }
}

.lightblue {
  background: $tertiaryColorLight;
  &.applyTextMode {color: $fontColorDark;}
}

.orange {
  background: $secondaryColorDark;
  &.applyTextMode {color: $fontColorDark;}
}

.lightorange {
  background: $secondaryColorLight;
  &.applyTextMode {color: $fontColorDark;}
}

.disabled {
  pointer-events: none;
  background: $fontColorLight;
  user-select: none;
  &.applyTextMode {color: white;}

  .bubbleArrow {
    -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
    filter: invert(1);
  }
}