$fontColorLight: #D9D9D9;
$fontColorMain: #6D6D6D;
$fontColorDark: #373F41;

$primaryColorMain: #499F53;
$primaryColorLight: #C9DFCC;
$primaryColorDark: #215B27;

$secondaryColorMain: #F9EB4F;
$secondaryColorLight: #F3F2E2;
$secondaryColorDark: #AC9E00;

$tertiaryColorMain: #5AC2E9;
$tertiaryColorLight: #ECF7FE;
$tertiaryColorDark: #D8EBF8;

$quaternaryColorMain: #1C6581;
$quaternaryColorDark: #124052;

$retailersSliderWidth: 920px;

:export {
    primaryColorMain: $primaryColorMain;
    primaryColorLight: $primaryColorLight;
    primaryColorDark: $primaryColorDark;
    secondaryColorMain: $secondaryColorMain;
    secondaryColorLight: $secondaryColorLight;
    secondaryColorDark: $secondaryColorDark;
    tertiaryColorMain: $tertiaryColorMain;
    tertiaryColorLight: $tertiaryColorLight;
    tertiaryColorDark: $tertiaryColorDark;
    quaternaryColorMain: $quaternaryColorMain;
    quaternaryColorDark: $quaternaryColorDark;
}
